*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;
}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}


@font-face {
    font-family: 'TT Lakes Regular';
    src: url('../fonts/TTLakes-Regular.eot');
    src: url('TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTLakes-Regular.woff') format('woff'),
    url('../fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
    @font-face {
        font-family: 'TT Lakes Medium';
        src: url('../fonts/TTLakes-Medium.eot');
        src: url('TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes-Medium.woff') format('woff'),
        url('../fonts/TTLakes-Medium.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
}
    @font-face {
            font-family: 'TT Lakes Bold';
            src: url('../fonts/TTLakes-Bold.eot');
            src: url('TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
            url('../fonts/TTLakes-Bold.woff') format('woff'),
            url('../fonts/TTLakes-Bold.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
}

.wrapper{
    position: relative;
    width:100%;
    height: 100%;
    background-color: #FFF;
}
.header{
    padding:16px;
    max-height:100%;
}
.header__title{
text-align: left;
color: #7E7E82;
font-family: 'TT Lakes Regular';
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: -0.2px;
text-transform: uppercase;
}

.swiper{
   
    background: #F8F8F8;
    padding-left:16px;
    padding-top: 16px;
    padding-bottom: 38px;
}
.swiper-wrapper{
    margin-bottom: 16px;
}

.swiper-pagination{
    position: static;
    
}
.card__container{
    padding:24px;
    background-color: #F8F8F8; 
  
}
.swiper-slide {
    border-radius: 6px;
    border: 1px solid #EAEAEA;
    background: #FFF;
    width: 240px;
    height: 72px;
    margin-right:16px;
    padding:16px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}
.card__box{
   display: flex;
   flex-wrap: wrap;
   height: 170px;
   gap: 24px;
   overflow: hidden;
   margin-bottom: 24px;
}
.card{
    border-radius: 6px;
    border: 1px solid #EAEAEA;
    background: #FFF;
    height: 72px;
    padding:16px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;  
}
.card__btn{
    background-color: #FFF;
}
.show-more{
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap:9px;
    background-color: #F8F8F8;
}


.show-more__text{
color: #1B1C21;
font-family: 'TT Lakes Medium';
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
letter-spacing: -0.2px;
}
.show-more__icon{
    transform:rotate(0deg);
}


@media(width>=320px) and (width<=480px){
    .card__container{display: none;}
}
@media(width>480px){
    .swiper{display: none;}
}